[Unit]
Description=Automatical dotfiles git synchronizer
After=network.target

[Service]
Environment="HOME=/home/alex"
ExecStart=/home/alex/dotfiles/synchronizer_service.py
WorkingDirectory=/home/alex/dotfiles
Restart=always

[Install]
WantedBy=default.target

