[Unit]
Description=Automatical dotfiles git synchronizer
After=network.target

[Service]
ExecStart=script_path
WorkingDirectory=script_directory
Restart=always

[Install]
WantedBy=default.target

