[Unit]
Description=Automatical dotfiles git synchronizer
After=network.target

[Service]
Environment="HOME=user_home"
ExecStart=/usr/bin/env python script_path
WorkingDirectory=script_directory
Restart=always

[Install]
WantedBy=default.target

